venv/
.build-venv/
ms-playwright/
dist/
build/
_internal/
*.exe
*.dll
*.zip
__pycache__/
*.pyc
logs/*.log
output/*.pdf
samples/*.pdf
saved_reports/**/*.json
templates/money/*/fonts/*.otf
templates/money/*/fonts/*.ttf
templates/money/*/fonts/*.woff
templates/money/*/fonts/*.woff2
